<header class="navbar navbar-static-top navbar-default" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'application' class="navbar-brand"}}configunix{{/link-to}}
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse">
      <ul class="nav navbar-nav">
        {{#if session.isAuthenticated}}
          {{#link-to 'hosts' tagName='li'}}<a href="#">Hosts</a>{{/link-to}}
          {{#link-to 'puppet_classes' tagName='li'}}<a href="#">Puppet classes</a>{{/link-to}}
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if session.isAuthenticated}}
          <li><a href='#' {{ action 'invalidateSession' }}>Logout</a></li>
        {{else}}
          <li><a href='#' {{ action 'sessionRequiresAuthentication' }}>Login</a></li>
        {{/if}}
      </ul>
    </nav>
  </div>
</header>
<div class="container">
  {{outlet}}
</div>
